<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/principal.xhtml">

    <!--<ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>-->

    <ui:define name="content">
        <div class="titulo-form">LISTA DE INSCRITOS</div>
        <h:form>
        <h:dataTable id="candidatos" summary="Lista de inscricoes" 
                     value="#{inscricaoMinicursoBean.inscricoes}" border="1" var="inscricao">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Número" />
                </f:facet>
                <h:outputText value="#{inscricao.numero_inscricao}" />
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="CPF" />
                </f:facet>
                <h:outputText value="#{inscricao.objInscricao.cpf}" />
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Nome" />
                </f:facet>
                <h:outputText value="#{inscricao.objInscricao.nome}" />
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Cidade" />
                </f:facet>
                <h:outputText value="#{inscricao.objInscricao.cidade}" />
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Estado" />
                </f:facet>
                <h:outputText value="#{inscricao.objInscricao.estado}" />
            </h:column>
            <!--<h:column>
                <h:commandButton value="Excluir" action="#{inscricaoBean.excluirAction}">
                </h:commandButton>
            </h:column>-->
        </h:dataTable>
        </h:form>
    </ui:define>

</ui:composition>
